body { 
    margin:0; padding:0; 
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#map { 
    position: absolute; top: 0; bottom:0; width:100%; 
}
li {
    list-style-type: none;
}



.website-nav {
    cursor: ;
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0px;
    background-color: #000d2c;
    /*padding: 10px;*/
    color: #fff;
}
.website-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    height: 100%;
    padding: 15px;
    width: 75px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0px;
}
.nav-logo {
    height: 100%;
    position: absolute;
    margin-left: 30px;
}
.website-nav a:hover {
    color: #000d2c;
    background-color: #fff
}
.website-nav li {
    display: inline-block;
    height: 100%;
}
.website-nav ul {
    height: 100%;
    display: inline-block;
    margin-left: 50px;
}
.account-nav {
    margin-right: 30px;
    float: right;
}



.filter-group input[type=checkbox] {
    border-radius: 0px;
}
.filter-group {
    position: absolute;
    padding: 10px;
    padding-bottom: 30px;
    top: 80px;
    right: 10px;
    z-index: 1;
    border-radius: 2px;
    width: 230px;
    color: #fff;
    background-color: #000d2c;
    box-shadow: 2px 2px 3px #000;
    opacity: 0.8;
    border: 3px solid #000;
}
.filter-group:hover {
    opacity: 1;
} 
.filter-group li {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    padding-right: 0px;
}
.filter-group li:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000d2c;
}
.filter-group label:hover{
    cursor: pointer;
}
h4 {
    font-weight: 600;
    font-size: 18px;
}



.marker {
    background-size: cover;
    border: 2px solid black;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}
.link-popup {
    border: 2px solid #000;
}



.constructors-div {
    background-color: #0f62fe;
}
.constructors-dot {
    height: 17px;
    width: 17px;
    background-color: #0f62fe;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    margin-left: 8px;
}
.constructors-div:hover {
    background-color: #0f32fe;
}


.parks-div {
    background-color: #da1e28;
}
.parks-dot {
    height: 17px;
    width: 17px;
    background-color: #da1e28;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    margin-left: 8px;
}
.parks-div:hover {
    background-color: #fa1e28;
}


.assemblers-div {
    background-color: #24a148;
}
.assemblers-dot {
    height: 17px;
    width: 17px;
    background-color: #24a148;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    margin-left: 8px;
}
.assemblers-div:hover {
    background-color: #42be65;
}